<div class="all">
    <h3>{{thisClass.className}}</h3>

    <br>
    <br>

    <div *ngIf="thisClass.classSubject[0]">
        <h5>Class Subjects</h5>
        <table border="1">
            <td *ngFor="let s of thisClass.classSubject">
                <tr>
                    <button (click)="subInfo(s.name)">{{s.name}}</button>
                </tr>
                <tr>
                    {{s.points}}
                </tr>
            </td>
        </table>
    </div>

    <br>
    <br>

    <div *ngIf="thisClass.classStudents[0]">
        <h5>Class Students</h5>
        <table border="1">
            <td *ngFor="let s of thisClass.classStudents">
                <tr>
                    {{s.firstName}}
                    {{s.lastName}}
                    {{s.classPoints}}
                </tr>
            </td>
        </table>
    </div>

    <br>
    <br>

    <div *ngIf="thisClass.rewards[0]">
        <h5>Class Rewards</h5>
        <table border="1">
            <td *ngFor="let r of thisClass.rewards">
                <tr>
                    {{r.item}}
                    {{r.cost}}
                </tr>
            </td>
        </table>
    </div>

    <br>
    <br>

    <button (click)="goEditClass()">Edit Class</button>

    <br>
    <br>

    <button class="oo" (click)="goBack()">Back</button>
</div>