<h3>{{thisClass.className}}</h3>

<br>
<br>

<div *ngIf="thisClass.classSubject[0]">
    <h5>Class Subjects</h5>
    <table border="1">
        <tr *ngFor="let s of thisClass.classSubject">
            <td>
                <button (click)="subInfo(s.name)">{{s.name}}</button>
            </td>
            <td>
                {{s.points}}
            </td>
        </tr>
    </table>
</div>

<br>
<br>

<div *ngIf="thisClass.classStudents[0]">
    <h5>Class Students</h5>
    <table border="1">
        <tr *ngFor="let s of thisClass.classStudents">
            <td>
                {{s.firstName}}
                {{s.lastName}}
            </td>
        </tr>
    </table>
</div>

<br>
<br>

<div *ngIf="thisClass.rewards[0]">
    <h5>Class Rewards</h5>
    <table border="1">
        <tr *ngFor="let r of thisClass.rewards">
            <td>
                {{r.item}}
                {{r.cost}}
            </td>
        </tr>
    </table>
</div>

<br>
<br>

<button (click)="goEditClass()">Edit Class</button>

<br>
<br>

<button class="oo" (click)="goBack()">Back</button>