<div class="all">
    <h3>{{thisClass.className}}</h3>

    <br>
    <br>

    <div *ngIf="thisClass.classSubject[0]">
        <h5>נושאים</h5>
        <table border="1">
            <tr>
                <th>שם</th>
                <th>נקודות</th>
            </tr>
            <tr *ngFor="let s of thisClass.classSubject">
                <td><button (click)="subInfo(s.name)">{{s.name}}</button></td>
                <td>{{s.points}}</td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <div *ngIf="thisClass.classStudents[0]">
        <h5>רשימת תלמידים</h5>
        <table border="1">
            <tr>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>נקודות</th>
            </tr>
            <tr *ngFor="let s of thisClass.classStudents">
                <td>{{s.firstName}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.classPoints}}</td>
                <td><button (click)="editPoints(s)">עריכת נקודות</button></td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <div *ngIf="thisClass.rewards[0]">
        <h5>רשימת הטבות</h5>
        <table border="1">
            <tr>
                <th>הטבה</th>
                <th>עלות</th>
            </tr>
            <tr *ngFor="let r of thisClass.rewards">
                <td>{{r.item}}</td>
                <td>{{r.cost}}</td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    <button (click)="goEditClass()">עריכת כיתה</button>

    <br>
    <br>

    <button class="oo" (click)="goBack()">חזרה</button>
</div>