<h3>First Name: </h3>
<input #firstName>

<h3>Last Name: </h3>
<input #lastName>

<h3>Email: </h3>
<input #email>

<h3>Password: </h3>
<input #password type="password">

<br>
<input type="radio" #Student name="SorT" value="" [(ngModel)]="nickName">
<label for="Student">Student</label><br>
<input type="radio" #Teacher name="SorT" value="T" [(ngModel)]="nickName">
<label for="Teacher">Teacher</label><br>

<div *ngIf="nickName!='T'">
    <h3>Nickname: </h3>
    <input #nickname [(ngModel)]="nickName">
</div>

<button (click)="createPerson(firstName.value,lastName.value,email.value,password.value)">Sign Up</button>