h2,h5 {
    -webkit-text-fill-color: rgb(255, 243, 243);
}

.all {
    background-color: rgba(46, 43, 46, 0.75);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100px;
    height: 100px;
}

td, tr, th {
    color: white;
    border-color: white;
    border: 1px solid white;
    padding: 8px;
    width: 80px;
    height: 50px;
}

th {
    background-color: grey;
  }
  tr {
    background-color: rgb(32, 32, 32);
  }
  td {
    background-color: rgb(32, 32, 32);
  }

  button{
    background-color: rgb(91, 86, 114);
    color: white;
    
}

input{
    text-align: right;
}

.studentList{
  position: relative;
  overflow-y: scroll;
  width: 400px;
  height: 300px;
  left: 470px;
}

.subList{
  position: relative;
  left: 470px;
  overflow-y: scroll;
  width: 400px;
  height: 300px;
}