<div class="card-body">
    <div>
        <label>Class Name</label>
        <input #name list="name">
        <datalist id="name">
            <option *ngFor="let name of classNames">{{name}}</option>
        </datalist>
    </div>

    <br>
    <br>

    <div>
        <label>Class Grade</label>
        <select #grade>
            <option *ngFor="let grad of grades">{{grad}}</option>
        </select>
    </div>

    <br>
    <br>

    <div>
        <label>Class Subjects</label>
        <input #sub onfocus="this.value=''"> <button (click)="addSub(sub.value)">+</button>
        <table border="1" *ngIf="newClass.classSubject[0]">
            <td>Subjects
                <tr *ngFor="let sub of newClass.classSubject">
                    <button (click)="removeElement(sub.name)">-</button>
                    {{sub.name}}
                    <button (click)="addSubsub(sub.name)">+</button>

                    <td *ngIf="sub.subsubject[0]">
                        <table>
                            <tr *ngFor="let s of sub.subsubject">
                                <button (click)="removeElement(sub.name,s.name)">-</button>
                                {{s.name}}
                            </tr>
                        </table>
                    </td>
                </tr>

            </td>
        </table>
    </div>

    <br>
    <br>

    <div>
        <label>Class Students</label>
        <input #student type="number" onfocus="this.value=''"> <button (click)="addStudent(student.value)">+</button>
        <table border="1" *ngIf="newClass.classStudents[0]">
            <td>Students
                <tr *ngFor="let student of newClass.classStudents">
                    <button (click)="removeElement(student._id)">-</button>
                    {{student._id}}
                </tr>
            </td>
        </table>
    </div>

    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="createClass(name.value,grade.value)">Create</button>
    </div>
    <br>
    <br>
    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="goBack()">Cancel</button>
    </div>

</div>