<br>
<br>
<a routerLink="/settings">settings</a>

<br>
<br>

<div>
    <label>Class Name</label><br>
    <select #name>
        <option *ngFor="let c of classNames">
            {{c}}
        </option>
    </select>
</div>
<div>
    <label>Grade</label><br>
    <select #grade>
        <option *ngFor="let g of grades">
            {{g}}
        </option>
    </select>
</div>
<button (click)="createClass(name.value,grade.value)">Create</button>

<button (click)="save('aaa','aaa')">save</button>

<button (click)="del()">del</button>


