<div class="card-body">
    <div>
        <label>Class Name</label>
        <input #name list="name" value="{{thisClass.className}}">
        <datalist id="name">
            <option *ngFor="let name of classNames">{{name}}</option>
        </datalist>
    </div>

    <br>
    <br>

    <div>
        <label>Class Grade</label>
        <br>
        <label>Current Grade: {{thisClass.grade}}</label>
        <br>
        <select #grade>
            <option *ngFor="let grad of grades">{{grad}}</option>
        </select>
    </div>

    <br>
    <br>

    <div>
        <label>Class Subjects</label>
        <label *ngIf="totalPoints!=1000">&nbsp;points left&nbsp;{{1000-totalPoints}}</label>
        <table border="1" *ngIf="thisClass.classSubject[0]">
            <td *ngFor="let sub of thisClass.classSubject">Subjects
                <tr>
                    {{sub.name}}
                </tr>

                <tr>
                    {{sub.points}}
                    <button (click)="editPoints(sub)">Edit Points</button>
                </tr>

                <tr> <button (click)="removeElement(sub)">Remove Subject</button> </tr>
                <tr>
                    <table *ngFor="let s of sub.subsubject">
                        <tr>
                            <button (click)="removeElement(sub,s)">Remove</button>
                            {{s.name}}
                            <button (click)="editPoints(sub,s)">Edit Points</button>
                        </tr>
                    </table>
                </tr>
            </td>
        </table>
        <input #sub onfocus="this.value=''"> <button (click)="addSub(sub.value)">Add Subject</button>
    </div>

    <br>
    <br>

    <div>
        <label>Class Students</label>
        <table border="1" *ngIf="thisClass.classStudents[0]">
            <td>Students
                <tr *ngFor="let student of thisClass.classStudents">
                    {{student._id}}<button (click)="removeElement(student._id)">Remove</button>
                </tr>
            </td>
        </table>
        <input #student type="number" onfocus="this.value=''"> <button (click)="addStudent(student.value)">Add
            Student</button>
    </div>

    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="editClass(name.value,grade.value)">Create</button>
    </div>
    <br>
    <br>
    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="goBack()">Cancel</button>
    </div>
    <br>
    <br>
    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="deleteClass()">Delete</button>
    </div>
</div>