.all {
    background-color: rgba(46, 43, 46, 0.75);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

h5 {
    color: white;
}

td, tr, th {
    color: white;
    border-color: white;
    border: 1px solid white;
    padding: 8px;
}

th {
    background-color: grey;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

label {
    color: white;
}

option {
    color: white;
}