.all {
    background-color: rgba(46, 43, 46, 0.75);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

h5,h2{
    color: white;
}

td, tr, th {
    color: white;
    border-color: white;
    border: 1px solid white;
    padding: 8px;
    width: 80px;
    height: 50px;
}

th {
    background-color: grey;
  }
  tr {
    background-color: rgb(32, 32, 32);
  }
  td {
    background-color: rgb(32, 32, 32);
  }


table {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100px;
    height: 100px;
}

label {
    color: white;
}

option {
    color: white;
}

button{
    background-color: rgb(91, 86, 114);
    color: white;
}

input{
    text-align: right;
}