<div class="all">

        <h3>{{thisStudent.lastName}}&nbsp;{{thisStudent.firstName}}</h3>
        <h6>ID: {{thisStudent._id}}</h6>
        <br>
        <br>
        <div class="outerBar">
            <span id="myProgress">{{thisStudent.totalPoints.xp}}</span>
            <div id="myBar"></div>
        </div>
        <h3>{{thisStudent.totalPoints.level}} רמה</h3>

    <br>
    <br>

    <section class="card-list">
        <div *ngFor="let c of myClasses">
            <button class="card" (click)="goClass(c)">
                <img src={{c.img}}>
                <p> {{c.className}}</p>
                <div id="myProgress">
                    <div id="mygrade">{{c.grade}}</div>
                </div>
            </button>
        </div>
    </section>
</div>