<div class="all">
    <div>
        <h3>{{thisTeacher.firstName}}&nbsp;{{thisTeacher.lastName}}</h3>
    </div>
    <br>
    <br>

    <button class="button" (click)="goCreateClass()"><span>create new class</span></button>

    <br>
    <br>

    <section class="card-list">
        <div *ngFor="let c of myClasses">
            <button class="card" (click)="goClass(c)">
                <img src={{c.img}}>
                <p> {{c.className}}</p>
                <div id="myProgress">
                    <div id="mygrade">{{c.grade}}</div>
                </div>
            </button>
        </div>
    </section>
</div>
