.card-list {
  padding: 5rem;
}

.card-header {
  font-size: 10px;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  font-family: 'DM Mono', monospace;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 200px;
  width: 200px;
  min-width: 200px;
  padding: 3rem;
  border-radius: 100px;
  box-shadow: 0rem 0 3rem rgb(255, 245, 99);
  transition: .3s;
  bottom: 50px;
}

.card:hover {
  transform: translateY(-3rem);
}

.card:hover~.card {
  transform: translateX(200px);
}

.card:not(:first-child) {
  margin-left: -50px;
}

.button {
  border-radius: 60px;
  background-color: #f4501ed3;
  border: 50px;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  height: 200px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  margin: 1px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-list{
  position: absolute;
  height: 70px;
  top: 25px;
}

.card-list .param {
  position: relative;
  top: 50px;
}

.card-list{
  width: 10%;
  height: 30px;
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: rgb(0, 0, 0);
  left: 43px;
  position: relative;
  top: 60px;
}


h2,h5 {
  color: white;
}

.NameT{
  width: 200px;
  position: relative;
  top:50px;
}

.newCl{
  position: relative;
  left: 340px;
  top: 200px;
  width: 210px;
  height: 280px;
}

.allCards{
  position: relative;
  width: 800px;
  height: 600px;
  overflow-y: scroll;
  bottom: 150px;
  left: 800px;
  right: 40px;
  left: 700px;
}

.pic{
  width: 100px;
  height: 90px;
  top:10px;
}

#mygrade{
  position: relative;
}

#labels{
  left: 900px;
  top: 200px;
  position: absolute;
}

.NameT{
  width: 200px;
  position: absolute;
  left: 650px;
  top:100px;
}

.b1{
  position: relative;
  bottom: 0px;
  left: 300px;
  height: 195px;
  }
  
  .b2{
  position: relative;
  bottom: 200px;
  right: 30px;
  height: 100px;
  }