<div class="all">
    <div class="NameT">
        <h2>{{thisTeacher.firstName}}&nbsp;{{thisTeacher.lastName}}</h2>
    </div>
    <br>
 
    <div class="newCl">
        <button class="button" (click)="goCreateClass()"><span>יצירת כיתה חדשה</span></button>
    </div>
  

    <div class="allCards">
        <h5> רשימת כיתות </h5>
        <section class="card-list">
            <div *ngFor="let c of myClasses; let j=index">
                <div class="b1">
                    <button class="card" (click)="goClass(c)">
                        <div id="myProgress">
                            <img class="pic" src="{{c.img}}">
                            <p id="mygrade">{{myClasses[j].className}} {{myClasses[j].grade}}</p>
                        </div>
                    </button>
                </div>

                <div *ngIf="myClasses[j+1]" class="b2">
                    <button class="card" (click)="goClass(c)">
                        <div id="myProgress">
                            <img class="pic" src="{{c.img}}">
                            <p id="mygrade">{{myClasses[j+1].className}} {{myClasses[j+1].grade}}</p>
                        </div>
                    </button>
                </div>
            </div>
        </section>
    </div>

</div>