<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>{{thisClass.className}} : {{thisClass.grade}} </h2>

<br><br>


<div class="row">
    <div class="column">
        <div class="card">
            <p><i class="fa fa-user"></i></p>
            <h3>{{this.thisClass.classStudents.length}}+</h3>
            <p>כמות תלמידים</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-flash"></i></p>
            <h3>{{this.thisClass.rewards.length}}+</h3>
            <p>כמות ההטבות</p>
        </div>
    </div>
</div>

<br><br>

<div *ngIf="thisClass.classSubject[0]">
    <h5>רשימת נושאים</h5>
    <br>
    <div class="subList">
        <table border="1">
            <tr>
                <th>נקודות</th>
                <th>שם</th>
            </tr>
            <tr *ngFor="let s of thisClass.classSubject">
                <td>{{s.points}}</td>
                <td><button (click)="subInfo(s.name)">{{s.name}}</button></td>
            </tr>
        </table>
    </div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>

<div *ngIf="thisClass.classStudents[0]">
    <h5>רשימת תלמידים</h5>
    <br><br><br>
    <div class="studentList">
        <table border="1">
            <tr>
                <th>נקודות</th>
                <th>שם משפחה</th>
                <th>שם פרטי</th>
            </tr>
            <tr *ngFor="let s of thisClass.classStudents">
                <td>{{s.classPoints}}</td>
                <td>{{s.lastName}}</td>
                <td>{{s.firstName}}</td>
            </tr>
        </table>
    </div>


    <br><br>
    <div class="form-popup" id="myFormT">
        <form class="form-container">
            <h1 style="color: rgb(248, 220, 129);">עדכוני נקודות אחרונים</h1>
            <br><br>
            <div *ngFor="let i of SelectReason">
                <p>{{i.reasonPoints}} : {{i.reasonName}}</p>
            </div>
        </form>
    </div>
    <br><br>


    <div *ngIf="thisClass.rewards[0]">
        <h5>רשימת הטבות</h5>
        <br><br><br>
        <div class="rewardsList">
            <table border="1">
                <tr>
                    <th>עלות</th>
                    <th>הטבה</th>
                </tr>
                <tr *ngFor="let r of thisClass.rewards; let b = index">
                    <td [ngStyle]="{'background-color': 'true' == boolin[b]? 'green' : 'black'}">{{r.cost}}</td>
                    <td [ngStyle]="{'background-color': 'true' == boolin[b]? 'green' : 'black'}">{{r.item}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <br>
    <button class="oo" (click)="goBack()">חזרה</button>
    <br>
    <br>
    <br>